<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.fck.MedicinalMapper">

    <resultMap id="medic" type="medicinal">
        <id column="mid" property="mid"></id>
        <result column="mname" property="mname"></result>
        <result column="mcount" property="mcount"></result>
        <result column="mweight" property="mweight"></result>
        <result column="mspec" property="mspec"></result>
        <result column="sid" property="sid"></result>
        <result column="minprice" property="minprice"></result>
        <result column="mdate" property="mdate"></result>
        <result column="moutprice" property="moutprice"></result>
        <result column="minamount" property="minamount"></result>
        <result column="moutamount" property="moutamount"></result>
        <result column="mjudge" property="mjudge"></result>
        <association property="mtype" javaType="mtype">
            <id column="tid" property="tid"></id>
            <result column="tname" property="tname"></result>
        </association>
        <association property="supplier" javaType="supplier">
            <id column="sid" property="sid"></id>
            <result column="sname" property="sname"></result>
        </association>
    </resultMap>


    <sql id="medics">mid,mname,mcount,mweight,mspec,sname,mdate,tname,minprice,moutprice,minamount,moutamount</sql>

    <select id="getAllMedicinal" resultMap="medic">select <include refid="medics"></include> from medicinal,mtype,supplier where medicinal.tid=mtype.tid and medicinal.sid=supplier.sid and mjudge=1</select>

    <select id="getByNameAndTid" resultMap="medic" parameterType="page">select <include refid="medics"></include> from medicinal,mtype,supplier <where> medicinal.tid=mtype.tid and medicinal.sid=supplier.sid<if test="tid != 0"> and medicinal.tid=#{tid}</if><if test="mname != null"> and mname like concat('%',#{mname},'%')</if><if test="mjudge==0"> and mjudge=0</if><if test="mjudge==1"> and mjudge=1</if> limit #{offset},#{limit}</where></select>

    <select id="getCount" resultType="int" parameterType="page">select COUNT(1) FROM medicinal <where><if test="mjudge==0">mjudge=0</if><if test="mjudge==1">mjudge=1</if></where></select>

    <select id="getMedicById" resultType="medicinal" parameterType="page">select mid,mname,mspec,mcount,moutprice from medicinal<where> mjudge=0 <if test="getname!=null"> and mname like concat('%',#{getname},'%')</if>limit #{offset},#{limit} </where></select>

    <update id="updateMedic" parameterType="int">update medicinal set mjudge = 0 where mid = #{mid}</update>

    <select id="getZeroCount" resultType="int">select COUNT(1) FROM medicinal where mjudge = 0</select>

    <select id="addMedicinById" resultType="medicinal" parameterType="int">select mid,mname,mcount,moutprice from medicinal where mid=#{mid}</select>

    <update id="editprice" parameterType="medicinal">update medicinal set moutprice=#{moutprice},moutamount=mcount*#{moutprice} where mid=#{mid}</update>

    <select id="getAllMedPur" parameterType="page" resultType="medicinal">select medicinal.rnum,mid,mname,mcount,mweight,mspec,sname,mdate,tname,minprice,moutprice,minamount,moutamount from medicinal,mtype,supplier,review,purchase <where>review.pid=purchase.pid and medicinal.pid=purchase.pid and medicinal.tid=mtype.tid and medicinal.sid=supplier.sid<if test="mname != null"> and mname like concat('%',#{mname},'%')</if> limit #{offset},#{limit}</where></select>

    <select id="getPurCount" resultType="int">select COUNT(1) FROM medicinal,purchase where medicinal.pid=purchase.pid</select>

    <select id="getPid" resultType="int" parameterType="purchase">select count(1) from medicinal where pid=#{pid}</select>

    <update id="updateCount" parameterType="purchase">update medicinal set mcount=mcount+1 where pid=#{pid}</update>

    <select id="getMedData" resultType="medicinal">select count(1) cot,tname from medicinal,mtype where medicinal.tid=mtype.tid group by tname</select>

</mapper>