<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.fck.PurchaseMapper">

    <select id="getAllPurchaseByName" resultType="purchase" parameterType="page">select purchase.*,sname from purchase,supplier<where>purchase.sid=supplier.sid<if test="sid!=0"> and purchase.sid = #{sid}</if> limit #{offset},#{limit}</where></select>

    <select id="getCount" resultType="int">select COUNT(1) FROM purchase</select>

    <select id="getSurIdName" resultType="supplier">select sid,sname from supplier</select>

    <select id="getPurchase" resultType="purchase" parameterType="purchase">select pid,pname,purchase.sid,pcount,pweight,sname,pdec,tid,pinprice,poutprice,pinamount,poutamount from purchase,supplier where purchase.sid=supplier.sid and pid = #{pid}</select>

    <insert id="addPurchase" parameterType="purchase">insert into medicinal(medid,mname,mspec,mdate,sid,tid,mcount,mweight,minprice,moutprice,minamount,moutamount,mjudge) values (#{pp},#{pname},#{pdec},CURRENT_DATE,#{sid},#{tid},1,"g",#{pinprice},#{poutprice},#{pinamount},#{poutamount},0)</insert>

    <select id="getLibrary" parameterType="page" resultType="medicinal">select mid,medid,mname,supplier.sname,mspec from medicinal,supplier <where>medicinal.sid=supplier.sid<if test="tid != 0"> and medicinal.tid=#{tid}</if><if test="mname != null"> and medicinal.mname like concat('%',#{mname},'%')</if> limit #{offset},#{limit}</where></select>

    <delete id="delLibrary" parameterType="int">delete from medicinal where mid=#{mid}</delete>

    <select id="getAllPurchase" parameterType="purchase" resultType="purchase">select pid,pname,purchase.sid,pcount,pweight,sname,pdec,tid,pinprice,poutprice,pinamount,poutamount from purchase,supplier <where>purchase.sid=supplier.sid and <foreach collection="pids" item="pid" open="pid in(" separator="," close=")">#{pid}</foreach></where></select>




</mapper>